/*body{
    text-align: center;
    margin: 100px;
}
input{
    padding:10px;
    border-radius: 10px;
}
button{
    padding: 3px;
    font-size: 15px;
    background-color: blue;
    border-radius: 10px;

}

html {
    font-family: sans-serif;
  }

  body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
    text-align: center;
    font-size: larger;
  }

  .lastResult {
    color: white;
    padding: 3px;
  }


  body{
      padding: 200px;
      text-align: center;
  }
  p{
      font-weight: bold;
      font-size: 40px;
  }
  button{
      padding: 40px;
  }*/

  p{
    color: rgb(2, 2, 2);
    font-size:  30px;
    padding: 50px ;
  }
  
  * {
    box-sizing: border-box;
  }